<h2 class="text-center">Profile</h2>
<div class="container mt-5">
    <h2 class="text-center">Registered successfully!</h2>
    <p class="text-center">Now you can <a href="/auth/login">login in</a>.</p>
</div>
